@import url('https://fonts.googleapis.com/css?family=Muli:400,700'); 

.cSidebarBlock_managing {
    z-index: 10;
}

.spsdsWrapper {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
    supported by Chrome and Opera */
}

.spsds_html {
    display: block;
    background-color: #19191D;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #0d0d0f;
    font-family: 'Muli', sans-serif;
}

.spsds_header {
    position: relative;
    height: 100px;
    background-color: #0D0D0F;
    background-image: url({resource="plugins/animated.svg" app="core" location="global"});
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: -151px -150px;
}

.light .spsds_header {
    background-image: url({resource="plugins/animated-2.svg" app="core" location="global"});
}

.spsds_foreground {
    display: block;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.spsds_background {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.spsds_generatedAv {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    color: white;
    margin: 25px 0 0 25px;
    float: left;
}

.spsds_header img {
    display: block;
    float: left;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    margin: 25px 0 0 25px;
}

.spsds_channelsList {
    position: relative;
    padding: 10px 15px;
    max-height: 260px;
    overflow: auto;
}

.spsds_channelsList > .spsds_background > svg:first-of-type {
    height: 40px;
    position: absolute;
    top: 15px;
    right: 15px;
    fill-opacity: .5;
}

.spsds_channelsList > .spsds_background > svg:last-of-type {
    height: 10px;
    position: absolute;
    top: 20px;
    right: 15px;
}

.spsds_channels {
    text-transform: uppercase;
    font-size: 11px;
    color: #3D3D4D;
    font-weight: bold;
}

.spsds_channelTitle {
    position: relative;
    height: 22px;
    font-size: 12px;
    color: white;
    margin-top: 5px;
    font-weight: bold;
    letter-spacing: .2px;
}

.spsds_channelTitle > .spsds_background > svg {
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.spsds_channelUser > img {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    position: relative;
    top: -2.5px;
    margin-right: 3px;
}

.spsds_channelUsers {
    margin-top: 3px;
}

.spsds_channelUser {
    padding: 5px 10px;
    position: relative;
    height: 30px;
    line-height: 25px;
    color: #636371;
}

.spsds_stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 10px 30px;
    background-color: #131317;
    border-top: 1px solid #0d0d0f;
    border-bottom: 1px solid #0d0d0f;
}

.spsds_stat > svg {
    height: 20px;
    display: block;
    margin: 0 auto;
}

.spsds_stat {
    color: #3d3d4d;
    text-transform: uppercase;
    text-align: center;
    font-size: 11px;
}

.spsds_name {
    float: left;
    margin: 32px 0 0 10px;
    color: #63637D;
    font-weight: bold;
}

.spsds_name > div {
    color: white;
    font-size: 16px;
}

.spsds_channelUser > svg {
    height: 13px;
    fill: #3e3e47;
    position: relative;
    top: 2px;
    float: right;
    margin: 0 5px;
}

.spsds_join {
    position: relative;
    height: 80px;
    background-color: #0D0D0F;
}

.spsds_stat > div {
    color: white;
    font-weight: bold;
    font-size: 13px;
}

.spsds_joinButton {
    display: block;
    width: 120px;
    text-align: center;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    overflow: hidden;
    background-color: #E0E0EE;
    padding: 10px 0;
    border-radius: 20px;
    font-weight: bold;
    border: 1px solid #63637D;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.spsds_joinButton:hover {
    opacity: .8;
}

.spsds_join > .spsds_background > svg {
    top: -80px;
    position: relative;
    height: 240px;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.spsds_join {
    position: relative;
    height: 80px;
    background-color: #0D0D0F;
}

.spsds_stat > div {
    color: white;
    font-size: 18px;
    margin-bottom: -5px;
    margin-top: 10px;
}

.spsds_joinButton {
    display: block;
    width: 120px;
    text-align: center;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: #3D3D4D !important;
    overflow: hidden;
    background-color: #E0E0EE;
    padding: 10px 0;
    border-radius: 20px;
    font-weight: bold;
    border: 1px solid #63637D;
}

.spsds_join > .spsds_background > svg {
    height: 240px;
    opacity: .5;
    position: relative;
    top: -80px;
}

.spsds_members {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #0d0d0f;
}

.spsds_member > img {
    display: block;
    width: 35px;
    border-radius: 30px;
    border: 1px solid #3D3D4D;
}

.spsds_member:after {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    background-color: grey;
    border-radius: 10px;
    border: 2px solid #0d0d0f;
    position: absolute;
    top: 0px;
    right: -2px;
}

.spsds_member {
    position: relative;
    display: inline-block;
    margin: 0 5px;
}

.spsds_member.dnd:after {
    background-color: #F04747;
}

.spsds_member.idle:after {
    background-color: #FAA61A;
}

.spsds_member.online:after {
    background-color: #43B581;
}

.spsds_html ::-webkit-scrollbar {
    width: 12px;
    height: 5px;
}

.spsds_html ::-webkit-scrollbar-thumb {
    background-color: #24242C;
    border-radius: 10px;
    border: 3px solid #19191d;
}

.light .spsds_channelsList {
    background-color: #E8E8F3;
}

.light .spsds_channelTitle > .spsds_background > svg {
    opacity: .5;
}

.light .spsds_channelTitle {
    color: #0D0D0F;
}

.light .spsds_join {
    background-color: #d4d4e1;
    border-top: 1px solid #0d0d0f;
    border-bottom: 1px solid #0d0d0f;
}

.light .spsds_joinButton {
    background-color: #3D3D4D;
    border-color: #3D3D4D;
    color: #E8E8F3 !important;
}

.light .spsds_stats {
    background-color: #d2d2de;
    border-top: 1px solid #b5b5c2;
}

.light .spsds_stat > div {
    color: #0d0d0f;
}

.spsds_html.light ::-webkit-scrollbar-thumb {
    border-color: #e8e8f3;
}

.light .spsds_members {
    background-color: #19191D;
}

.light .spsds_header {
    background-color: #19191D;
}

.light .spsds_animation > svg:first-of-type .b, .light .spsds_animation > svg:first-of-type .c, .light .spsds_animation > svg:first-of-type .d, .light .spsds_animation > svg:nth-of-type(2) .b, .light .spsds_animation > svg:nth-of-type(2) .c, .light .spsds_animation > svg:nth-of-type(2) .d {
    stroke: #0d0d0f;
}

.spsds_animation > svg:first-of-type .b, .spsds_animation > svg:first-of-type .c, .spsds_animation > svg:first-of-type .d, .spsds_animation > svg:nth-of-type(2) .b, .spsds_animation > svg:nth-of-type(2) .c, .spsds_animation > svg:nth-of-type(2) .d {
    stroke: #15151a;
}

.light .spsds_animation > svg:last-of-type {
    fill: #3d3d4d;
}

.spsdsWrapper .spsds_channelUsers.spsds_cu_compact {
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: flex;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

.spsdsWrapper .spsds_channelUsers.spsds_cu_compact .spsds_channelUser {
    padding: 0;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.spsdsWrapper .spsds_channelUsers.spsds_cu_compact .spsds_channelUser img {
    top: 0;
    -webkit-box-shadow: 0 0 0 3px #19191d;
    box-shadow: 0 0 0 3px #19191d;
}

.spsdsWrapper.light .spsds_channelUsers.spsds_cu_compact .spsds_channelUser img {
    -webkit-box-shadow: 0 0 0 3px #e8e8f3;
    box-shadow: 0 0 0 3px #e8e8f3;
}

.spsdsWrapper .spsds_channelUsers.spsds_cu_compact .spsds_channelUser svg,.spsdsWrapper .spsds_channelUsers.spsds_cu_compact .spsds_channelUser span {
    display: none;
}

.spsdsWrapper .spsds_channelUsers.spsds_cu_compact .spsds_channelUser:not(:last-child) {
    margin-right: 10px;
}

.spsdsWrapper .spsds_channelUsers.spsds_cu_compact .spsds_channelUserExtra {
    font-size: 11px;
    display: inline-block;
    font-weight: 700;
    height: 22px;
    color: #e8e8f3;
    background-color: #63637d;
    -webkit-box-shadow: 0 0 0 3px #19191d;
    box-shadow: 0 0 0 3px #19191d;
    padding: 2px 5px;
    border-radius: 5px;
}

.spsdsWrapper.light .spsds_channelUsers.spsds_cu_compact .spsds_channelUserExtra {
    -webkit-box-shadow: 0 0 0 3px #e8e8f3;
    box-shadow: 0 0 0 3px #e8e8f3;
}

.spsdsWrapper .spsds_channelTitle .spsds_channelCollapse {
    position: absolute;
    z-index: 2;
    right: 10px;
    top: -2px;
    opacity: .6;
    border-radius: 3px;
    padding: 3px 10px;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.spsdsWrapper .spsds_channel:hover .spsds_channelCollapse {
    opacity: 1;
}

.spsdsWrapper .spsds_channelTitle .spsds_channelCollapse.tgld {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.spsdsWrapper .spsds_channelTitle .spsds_channelCollapse svg {
    width: 13px;
    fill: #3d3d4d;
}

.spsdsWrapper .spsds_channel {
    -webkit-transition: all .2s;
    transition: all .2s;
    padding: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
}

.spsdsWrapper .spsds_channel:hover {
    background-color: rgba(13,13,15, .2);
}

.spsdsWrapper.light .spsds_channel:hover {
    background-color: rgba(13,13,15, .05);
}

.spsdsUserPopWrap {
    position: fixed;
    z-index: 999999;
    min-width: 150px;
    max-width: 200px;
    overflow: hidden;
    background-color: #3D3D4D;
    font-family: 'Muli', sans-serif;
    border: 2px solid #3D3D4D;
    display: inline-block;
    border-radius: 5px;
}

.spsdsUserPopWrap .spsds-upw-top {
    padding: 8px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.spsdsUserPopWrap .spsds-upwt-name {
    font-size: 13px;
    color: #E0E0EE;
    font-weight: 700;
    padding-right: 15px;
    max-width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.spsdsUserPopWrap .spsds-upwt-disc {
    font-size: 14px;
    color: #6E6E84;
    font-weight: 700;
}

.spsdsUserPopWrap .spsds-upw-bottom {
    background-color: #e0e0ee;
    padding: 2px 8px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.spsdsUserPopWrap .spsds-upwb-action {
    color: #6E6E84;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 2px;
}

.spsdsUserPopWrap .spsds-upwb-name {
    color: #24242C;
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 2px;
}

.spsds_join .spsds_background {
    display: flex;
    justify-content: center;
}

/* ERRORS */
.ps-error {
    background-color: #E19517;
    color: white;
    padding: 10px;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
}

.ps-error u {
    text-decoration-style: dotted;
}

.ps-error-code {
    font-weight: bold;
    font-size: 78px;
    font-style: oblique;
    position: absolute;
    top: 20px;
    left: -20px;
    z-index: 1;
    color: #ecac43;
}

.ps-error-content {
    position: relative;
    z-index: 1;
}

.ps-error-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    text-shadow: 1px 1px rgba( 0, 0, 0, 0.1 );
}

.ps-error-message {
    text-shadow: 1px 1px rgba( 0, 0, 0, 0.1 );
}