/*.brilliantdiscord_discordButton .ipsSocial_icon {
    height: 32px;
    width: 32px;
    background-image: url( {resource="discord_logo_white.png" app="brilliantdiscord" location="front"} );
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: center center;
}
.brilliantdiscord_discordButton .ipsSocial_icon .fa {
    display: none !important;
}

.brilliantdiscord_discordButton .ipsSocial_text {
    line-height: 32px;
}*/

@font-face {
    font-family: "bdi-fa5-discord";
    src:url('{url="applications/brilliantdiscord/interface/fonts/bdi-fa5-discord.eot" base="none" noprotocol="true"}');
    src:url('{url="applications/brilliantdiscord/interface/fonts/bdi-fa5-discord.eot#iefix" base="none" noprotocol="true"}') format("embedded-opentype"),
    url('{url="applications/brilliantdiscord/interface/fonts/bdi-fa5-discord.woff" base="none" noprotocol="true"}') format("woff"),
    url('{url="applications/brilliantdiscord/interface/fonts/bdi-fa5-discord.ttf" base="none" noprotocol="true"}') format("truetype"),
    url('{url="applications/brilliantdiscord/interface/fonts/bdi-fa5-discord.svg#bdi-fa5-discord" base="none" noprotocol="true"}') format("svg");
    font-weight: normal;
    font-style: normal;
}

.bdi-fa-fab-discord {
    font-family: "bdi-fa5-discord" !important;
}

.brilliantdiscord_discordButton .bdi-fa-fab-discord {
    vertical-align: middle;
}

.bdi-fa-fab-discord:before {
    content: "\60";
}